*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Nunito', sans-serif;*/

  font-weight: lighter;
  font-size: 10px;
}
.background{
  position: absolute;
  width: 100vw;
  height: 85vh;
  bottom: 0;
  z-index: -1
}

/*utilities */
.red-text{
    color: #F2385A;
}
.blue-text{
    color: #011140;
}
/*main*/
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* header */
header{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  font-weight: lighter;
  font-size: 2.5rem;
}
.instruction{
  display: flex;
  flex-direction: row;
  /*font-size: 1.5rem;*/
  font-size: 2vw;
  margin-top: 5vh;
}
ul{
  display: flex;
  list-style: none;
  width: 65vw;
  justify-content: space-between;
}

li > h2{
  display: inline;
}

/* form */
.form{
  margin-top: 6vh;
}
.in{
    display: flex;
}

input[type="text"]{
  width: 70vw;
  height: 2.8rem;
  border-radius: 50px;
  outline: 0;
  border-style: none;
  background-color: rgba(1, 17, 64, .4);
  padding-left: 4rem;
  font-size: 1.3rem;
  font-weight: lighter;
  color: #e6e6e6;
}

/* :-ms-input-placeholder ::-ms-input-placeholder*/
::placeholder{
  color: #e6e6e6;
  font-weight: lighter;
}


button{
  background: #011140;
  border-style: none;
  width: 6rem;
  height: 2.8rem;
  border-radius: 50px;
  margin-left: -6rem;
}
button > img{
  width: 3rem;
}

.formats{
  margin-top: 5vh;
  margin: 5vh auto;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  /*height: 7vh;*/
  height: 2.8rem;
  border-radius: 50px;
  background: rgba(1, 17, 64, .4);
  align-items: center;
  color: #e6e6e6;
  font-size: 1.2rem;
  font-weight: normal;
}
.format{
  padding: .5rem 2.9rem;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.format:hover{
  background: #011140;

}
input[type="radio"]:checked ~ .format{
  background: #011140;
}

input[type="radio"]{
  display: none;
}

/* info */
.info{
  margin-top: 6vh;
  color: #e6e6e6;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7rem;
  letter-spacing: 0.2rem;
}

/* footer */
footer{
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  color: #e6e6e6;
  padding-bottom: 10px;
}
footer a{
  text-decoration: none;
  color: inherit;
}
footer a:hover{
  color: #011140;
}
