*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

/* Background config */
.img1{
  position: absolute;
  width: 22vw;
  z-index: -1;
}
.img2{
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: -1;
}

/* main area */
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;

}

.title{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title > h1{
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #F2385A;
}

.title > p{
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: rgba(13,13,13,.8);
}

/* instructions */
.instructions{
  font-size: 1.3rem;
  display: flex;
  width: 60vw;
  justify-content: space-between;
  margin-top: 2rem;
  color: rgba(13,13,13,.8);
}
.instructions span{
  color: #F2385A;
}

/* form */
.form{
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input{
  width: 65vw;
  outline: 0;
  border-radius: 5rem;
  border: 0px;
  background: rgba(13,13,13,.4);
  height: 2.5rem;
  padding-left: 2rem;
  padding-right: 6rem;
  color: #fff;
  font-size: 1rem;
}
/* :-ms-input-placeholder ::-ms-input-placeholder*/
::placeholder{
  color: #fff;
  font-weight: lighter;
}

.form button{
  background: #F2385A;
  border: 0px;
  outline: 0;
  color: #fff;
  height: 2.5rem;
  border-radius: 5rem;
  padding:0 1rem;
  margin-left: -6.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.formats{
  margin: auto;
  margin-top: 2rem;
  background: rgba(13,13,13,.4);
  width: 14rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  font-size: 1rem
}

.format{
  color: #fff;
  border-radius: 5rem;
  padding: .75rem 2.5rem;
  cursor: pointer;
}
.format:hover{
  background: #F2385A;
}

input[type="radio"]:checked ~ .format{
  background: #F2385A;

}

input[type="radio"]{
  display: none;
}

.description{
  margin-top: 4rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  width: 55rem;
  text-align: center;
  color: rgba(13,13,13,.8);
}

footer{
  margin-top: 6rem;
  font-size: 1rem;
  color: rgba(13,13,13,.8);
}

footer  a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

@media(max-width: 900px){
  .img2{
    height: 55vh;
  }
  .description{
    width: 90vw;
  }
  footer{
    margin-top: 1rem;
  }
}

@media(max-width: 850px){
  .img2{
      height: 45vh;
  }
  .img1{
    width: 30vw;
  }
  .title{
    text-align: center;
  }
  .title h1{
    font-size: 2rem;
  }
  .title p {
    margin-top: 1rem;
  }
  .instructions{
    display: flex;
    font-size: .8rem;
    margin: 0;
    margin-top: 1rem;
    flex-direction: column;
    text-align: center;
  }

  .form{
    margin-top: 1rem;
  }
  form{
    width: 90vw;
  }
  .form input[type="text"]{
    font-size: .8rem;
    width: 99%;

  }
  .form button{
    font-size: .8rem;
    margin-left: -5.8rem;
  }

  .description{
    font-size: 1.3rem;
  }


}
